/* Color Palette
header/button navy blue = #1e1e3d
white font = #ffffff
right section white = #F2F6F7;



*/

/* Elements */

* {
font-family: 'Open-Sans', sans-serif;
}

body {
margin: 0 auto;
}

header {
  width: 100%;
  background-color: #1e1e3d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  color: #ffffff;
  font-weight: bolder;
  font-size: 50px;
  margin: 20px;
}

span {
  color: #ffc308;
}


label {
  font-family: 'Open-Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #bac8d0;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input {
  width: 96%;
  height: 40px;
  border: 2px solid;
  border-color: #1e1e3d;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* Header */

.nav__search--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 20px;
  width: 20%;
  height: 40px;
}

.nav__search--button {
  width: auto;
  background-color: #c8d3d9;
}

.search-icon {
  border-radius: 4px;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: #c8d3d9;
}

.nav__search--input {
  border: none;
  margin-top: 12px;
  margin-left: -2px;
  width: 85%;
  height: 40px;
  font-size: 15px;
}


/* Left Section */

.left__main--section {
  width: 25%;
  height: 900px;
  background-color: #597a8a
}


/* form - div- inputs */

.left__input--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 10px;
  margin-top: 30px;
}

.left__taskinput--container {
  width: 100%;
  align-items: baseline;
}

.js__item--input {
  width: 82%;
  margin-left: -12px;
}

.left__item--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.js__plus--button {
  text-align: center;
  border: 2px solid;
  border-color: #1e1e3d;
  width: 45px;
  height: 45px;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 20px;
  background-color: #1e1e3d;
}

.js__button--container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.left__horizontal--line {
  width: 100%;
  border: 1px solid;
  border-color: #426a7c;
  margin-left: -2px;
}

.asidebtn {
  font-family: 'Open-Sans', sans-serif;
  font-weight: bold;
  font-size: 17px;
  width: 93%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #1e1e3d;
  color: #ffffff;
  border: 1px solid;
  border-color: #1e1e3d;
}

.js__filterbutton--container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.js__filter--button:hover {
  background-color: #f04923;
}


/* Right Main Section */

.right__main--section {
  width: 75%;
  background-color: #F2F6F7;
}
