/* Elements */
* {
  font-family: 'Open-Sans', sans-serif;
}

/** {
  border: 2px dotted red;
}*/

body {
  display: grid;
  height: 120vh;
  grid-template-areas:
  "nav nav nav"
  "task main main"
  "task main main";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 42% 43%;
  margin: 0 auto;
}

header {
  background-color: #1e1e3d;
  display: grid;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
}

h1 {
  color: #ffffff;
  font-weight: bolder;
  font-size: 34px;
  margin: 10px 10px 10px 20px;
}

span {
  color: #ffc308;
}

label {
  color: #bac8d0;
  font-family: 'Open-Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-left: 8.5px;
  margin-bottom: -5px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -20px;
}

input {
  border: 2px solid;
  border-color: #1e1e3d;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 7px;
  margin-top: 10px;
  padding-left: 8px;
  width: 93.5%;
}

/* Header */
.nav__search--container {
  display: flex;
  flex-direction: row;
  height: 53px;
  justify-content: center;
  margin: 5px 10px 28px 0px;
  width: 31%;
}

.nav__search--button {
  background-color: #c8d3d9;
  width: auto;
}

.search-icon {
  background-color: #c8d3d9;
  border-radius: 4px 0px 0px 4px;
  height: 30px;
  padding: 10px;
  width: 20px;
}

.nav__search--input {
  border: none;
  border-radius: 0px 2px 2px 0px;
  font-size: 15px;
  height: 50px;
  margin-top: 12px;
  margin-left: -2px;
  width: 85%;
}

/* Left Section */
.left__main--section {
  background-color: #597a8a;
  display: grid;
  grid-area: task;
}

/* form - div- inputs */
.left__input--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  margin-bottom: -10px;
  margin-left: 6px;
  margin-right: 15px;
  width: 100%;
}

.js__title--input {
  width: 95%;
}


.js__item--input {
  border-radius: 4px 0px 0px 4px;
  margin-bottom: -10px;
  margin-left: 6px;
  /* margin-right: 5px; */
  margin-top: -5px;
  width: 84.5%;
}

.js__plus--button:disabled {
  background-color: #2a2a35;
  color: #bac8d0;
  position: relative;
  top: 1px;
}

.js__list--button:disabled {
  background-color: #2a2a35;
  color: #bac8d0;
}

.js__clear--button:disabled {
  background-color: #2a2a35;
  color: #bac8d0;
}

.left__taskinput--container {
  margin-bottom: 8px;
}

.left__item--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.js__plus--button {
  background-color: #1e1e3d;
  background-size: contain;
  border: 2px solid;
  border-color: #1e1e3d;
  border-radius: 0px 4px 4px 0px;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 20px;
  height: 45.5px;
  margin-right: -2px;
  position: relative;
  text-align: center;
  top: 1px;
  width: 46.5px;
}

.js__button--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:
  margin-bottom: -40px;
  margin-top: -25px;
}

.left__horizontal--line {
  border-top: 2px solid;
  border-color: #426a7c;
  height: 7px;
  margin-top: -40px;
  width: 100%;
}

.asidebtn {
  background-color: #1e1e3d;
  border: 1px solid;
  border-color: #1e1e3d;
  color: #ffffff;
  font-family: 'Open-Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
  height: 50px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: -2px;
  margin-top: 10px;
  width: 93%;
}

.js__filterbutton--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -80px;
}

.js__filter--button:hover {
  background-color: #f04923;
}

/* Right Main Section */
.right__main--section {
  background-color: #F2F6F7;
  display: grid;
  grid-area: main;
  padding: 3%;
}
/* Styling for top left dynamic elements - needs to be refined */
.js__dynamic--insert {
  align-items: center;
  background-color: #587A8A;
  color: white;
  display: flex;
  width: 80%;
}

.js__delete--icon {
  display: inline-block;
  height: 8px;
  width: auto;
}

#js__card--container {
/*  width: 300px;
  height: 175px;
  border: 2px dotted red;*/
}

li {
  color: #ffffff;
  list-style-type: none;
}

.js__task--card {
  border: 2px solid #c7d3d8;
  box-sizing: border-box;
  color: #1f1f3d;
  background: #fafdff;
  display: inline-block;
  margin: 0 0 15px;
  padding: 20px;
  min-width: 350px;
  width: auto;
/*    min-height: 350px;*/
}

.task__body--container {
  border-bottom: 2px solid #c7d3d8;
  border-top: 2px solid #c7d3d8;
  min-height: 150px;
  width: 100%;
}

.task__card--icon {
  align-content: f;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20%;
  width: 100%;
}

.js__task--delete {
  height: 25px;
  width: 25px;
/*  padding: 0 3%;*/
}

.task__container {
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.icons {
  height: 35px;
  width: 35px;
}

.js__task--urgent {
  height: 25px;
  padding: 0 3%;
  width: 25px;
}

.js__task--complete {
  width: 25px;
  height: 25px;
  padding: 0 3%;
}

.js__task--delete {
  height: 25px;
  padding: 0 3%;
  width: 25px;
}

.js__delete--icon {
  display: inline-block;
  height: 25px;
  margin-right: 8px;
  width: 25px;
}

.task__container {
  font-size: 18px;
  width: 100%;
}

.js__h3--card {
  padding-left: 3%;
}

.task__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -50px;
  width: 100%;
}

.task__item li {
  color: #1e1e3d;
  margin: 12px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.task__item--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__task--container {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 300;
  font-size: 22px;
  height: 30px;
  width: 100%;
}

.js__card--area {
  column-count: 2;
  column-gap: 1em;
  height: 100%;
  z-index: 10;
}

.checkoff_task {
  color: #3C6577 !important;
  font-style: italic !important;
}

.active-lightning {
  background-color: #ffe79d !important;
}

@media only screen and (max-width: 1150px) {

}
/* Media @ header */
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
  }

  h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }

  .nav__search--container{
    height: 60px;
    margin-top: -20px;
    width: 9%;
  }

  .search-icon {
    height: 35px;
    width: 38px;
  }

  .left__main--section {

  }

  label {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 1px;
  }

  input {
    height: 55px;
  }

  .left__main--form {
    margin-top: 15px;
  }

  .left__input--container {
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .left__taskinput--container {
    margin-top: -25px;
  }

  .left__item--wrapper {
    margin-top: 5px;
  }

  .js__plus--button {
    height: 60px;
    margin-top: 2px;
    width: 60px;
  }

  .asidebtn {
    border-radius: 3px;
    height: 60px;
    margin-bottom: 20px;
  }

  .js__list--button {
    margin-top: 35px;
  }

  .js__clear--button {
    margin-bottom: 60px;
  }

  .js__filterbutton--container {
    padding-top: 50px;
  }

  .js__filter--button {
    margin-top: 15px;
  }

  .right__main--container {
    width: 70%;
  }
}

@media only screen and (max-width: 945px) {

    /* Media @ header  */
  header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  h1 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: -23px;
    text-align: center;
  }

  .nav__search--container{
    height: 50px;
    margin-top: -35px;
    width: 94%;
  }
}

@media only screen and (max-width: 650px) {

  body {
    display: grid;
    height: 170vh;
    margin: 0;
    grid-template-areas:
    "nav"
    "task"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: .70fr 1.8fr 2fr;
  }

  .nav__search--container{
    height: 60px;
    margin-top: -20px;
    width: 9%;
  }
}  
